/* Google font Lilita One, similar to the score font in the mockup */
@font-face {
  font-family: lilita-one;
  src: url('./assets/fonts/LilitaOne/LilitaOne-Regular.ttf');
}

* {
  font-family: lilita-one;
  -webkit-user-drag: none; /* Can't seem to avoid 'dragging ghost images' entirely, but this reduces it */
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;

  background-image: url('./assets/images/WAM_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  cursor:
    url('./assets/images/WAM_Hammer.png') 64 50,
    auto;
}

body:active {
  cursor:
    url('./assets/images/WAM_Hammer_whack.png') 64 50,
    auto;
}
